doctype html
html
  head
    meta(charset='utf-8')
    title Grader
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 Task-Master
    nav
      a(href='/') Task Charts
      a(href='/tasks/new') Add new task
      a(href='priorities/new') Add new priority
      a(href='/priorities') Your priorities

  block content
